stages:
  - test

variables:
  # A variável CYPRESS_RECORD_KEY deve estar configurada no GitLab Settings -> CI/CD -> Variables
  CYPRESS_RECORD_KEY: $CYPRESS_RECORD_KEY

cache:
  key:
    files:
      - package-lock.json
  paths:
    - .npm/

test:
  image: cypress/browsers:node-20.9.0-chrome-118.0.5993.88-1-ff-118.0.2-edge-118.0.2088.46-1
  stage: test
  # Removi o "parallel: 2" para facilitar seu primeiro debug, 
  # mas você pode reativar se tiver muitos testes.
  script:
    # 1. Instala as dependências (Cypress)
    - npm ci --cache .npm --prefer-offline
    
    # 2. Roda os testes diretamente (Sem tentar ligar um servidor local)
    # O Cypress vai usar a baseUrl que está no seu cypress.config.js
    - npx cypress run --record --key $CYPRESS_RECORD_KEY --browser chrome
